.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.aktiv{
	background-color: #5E807F;
}
.btnMæ:hover{
	background-color: #17B890;
	color:white;
}		
.btnService:hover{
	background-color: #17B890;
	color:white;
}		
.btnHovedside:hover{
	background-color: #17B890;
	color:white;
}		