
.btn{
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	width: 140px;
	height: 50px; 
	outline:none;
}
div.hovedside{
	margin: auto;
	width: 50%;
	padding: 10px;
	height: auto;
    overflow: hidden;
}
.h1-c{
	margin: auto;
	padding-top: 25px;
}
.aktiv{
	background-color: #17B890;
	
}
.btnMæ:hover{
	background-color: #5E807F;
	color:white;
}	
.btnService{
	border-bottom-left-radius: 15px;
}
	
.btnService:hover{
	background-color: #5E807F;
	color:white;
}
.btnHovedside{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}		
.btnHovedside:hover{
	background-color: #5E807F;
	color:white;
}		
div.knapper{
    float: left;
    height: auto;
    margin-right: 10px;
    width: 140px;
	background-color: #DEE5E5;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.servicedesk{
    height: auto;
    overflow: hidden;
}